<div class="header-text">
  <h1>Your movie searching - simplified!</h1>
  <h3>Search for movies by name, actor, genre, and more.</h3>
</div>

@if (carouselMovies.length > 0) {
<div class="carousel">
  <div class="carousel-track" [style.transform]="getTransform()">
    @for (movie of carouselMovies; track movie.id; let idx = $index) {
    <div
      class="carousel-slide"
      [style.backgroundImage]="
              movie.backdrop_path
                ? 'url(https://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'
                : 'none'
            "
    ></div>
    }
  </div>
</div>
}

<div class="carousel-overlay"></div>

<div class="movies-search">
  <mat-form-field class="movies-search__input">
    <mat-label>Search movie by name or keyword</mat-label>
    <input
      matInput
      type="text"
      (ngModelChange)="onSearchInput($event)"
      [ngModel]="''"
    />
  </mat-form-field>
</div>

@if (isLoading) {
<div class="loader-container">
  <mat-spinner diameter="48" color="primary"></mat-spinner>
</div>
} @else {
<div class="movies-grid">
  @if (resultMovies.length > 0 && lastSearchTerm.length >= 3) {
  <div class="movies-grid__header">
    <h2>Resultados para "{{ lastSearchTerm }}"</h2>
    <h1>{{ totalResults }} resultados encontrados</h1>
  </div>
  <div class="search-movies-grid">
    @for (movie of resultMovies; track movie.id) {
    <app-movie-card [movie]="movie"></app-movie-card>
    }
  </div>
  } @else {
  <div class="genres-movies-grid">
    @for (genre of movieKeys; track genre) {
    <h2>{{ genre }}</h2>
    <div class="genre-slider-wrapper">
      <button
        matFab
        class="nav-button left"
        color="secondary"
        (click)="scrollGenre(genre, 'left')"
      >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <div class="genre-row" #genreRowRef [attr.data-genre]="genre">
        @for (movie of categorizedMovies[genre]; track movie.id) {
        <app-movie-card [movie]="movie"></app-movie-card>
        }
      </div>

      <button
        matFab
        class="nav-button right"
        color="secondary"
        (click)="scrollGenre(genre, 'right')"
      >
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
    }
  </div>
  }
</div>
}

<mat-paginator
  class="paginator"
  [ngClass]="{ 'hidden-visibility': resultMovies.length <= 0 && lastSearchTerm.length < 3 }"
  [length]="totalResults"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
  aria-label="Page selection"
></mat-paginator>
