<mat-card class="modal-card" *ngIf="movieDetails$ | async as movie">
  <div class="modal-header">
    <h2 class="modal-title">{{ movie.title }}</h2>
    <button mat-icon-button (click)="onClose()">
      <mat-icon class="close-button">close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="movie-details-container">
    <div class="poster-section">
      <img
        class="modal-image"
        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
        [alt]="movie.title"
      />
    </div>

    <div class="info-section">
      <mat-card-content class="modal-content">
        <p class="overview">{{ movie.overview }}</p>

        <div class="rating-info">
          <p>
            <mat-icon>star_border</mat-icon>
            <strong>{{ movie.vote_average | number: '1.1-1' }}</strong>
            <span>({{ movie.vote_count }} votes)</span>
          </p>
        </div>

        <div class="details">
          <p><strong>Release Date:</strong> {{ movie.release_date | date }}</p>
          <p><strong>Budget:</strong> {{ movie.budget | currency }}</p>
          <p><strong>Revenue:</strong> {{ movie.revenue | currency }}</p>
          <p>
            <strong>Languages:</strong>
            @for (language of movie.spoken_languages; track $index) {
            <span> {{ language.english_name }}<span>, </span> </span>
            }
          </p>
          <p>
            <strong>Produced by:</strong>
            @for (company of movie.production_companies; track $index) {
            <span> {{ company.name }}<span>, </span> </span>
            }
          </p>
        </div>
      </mat-card-content>
    </div>
  </div>
  <h2>Cast</h2>
  <div class="actors-slider-wrapper">
    <button
      matFab
      class="nav-button left"
      color="secondary"
      (click)="scrollActors('left')"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <div class="actors-container" #actorsRowRef>
      @for (actor of (movieCastAndCrew$ | async)?.cast; track $index) {
      <mat-card class="actor-card" appearance="filled">
        <img
          mat-card-image
          [src]="getProfileImage(actor.profile_path)"
          alt="{{ actor.name }}"
          class="actor-photo"
        />
        <mat-card-content>
          <div class="actor-name">{{ actor.name }}</div>
        </mat-card-content>
      </mat-card>
      }
    </div>

    <button
      matFab
      class="nav-button right"
      color="secondary"
      (click)="scrollActors('right')"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <!-- <mat-card-actions class="modal-actions">
    <button class="send-button" matButton="elevated">x</button>
  </mat-card-actions> -->
</mat-card>
