.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 700px !important;
  min-width: 700px !important;
}

.modal-card {
  z-index: 20;

  h2 {
    margin-left: 32px;
    margin-bottom: 0px;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    align-items: center;

    .modal-title {
      font-size: 1.4rem;
      margin-bottom: 0px;
    }
  }

  .modal-actions {
    justify-content: end;
    margin: 0px 12px 12px;
  }

  .movie-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 16px;

    .poster-section {
      flex: 0 0 250px;

      .modal-image {
        width: 100%;
        border-radius: 8px;
      }
    }

    .info-section {
      flex: 1;
      width: 700px;

      .overview {
        font-size: 0.9rem;
        margin-bottom: 16px;
      }

      .details p,
      .rating-info p {
        margin: 0px 0;
        display: flex;
        align-items: self-end;
        gap: 4px;
      }

      .rating-info p {
        margin-bottom: 8px;
        color: var(--accent4);

        mat-icon {
          color: var(--accent4);
        }
      }
    }
  }

  .send-button {
    background-color: var(--accent15) !important;
    color: var(--primary1) !important;
  }

  .close-button {
    color: var(--accent1);
  }

  .actors-slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .actors-container {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 12px 28px 12px 28px;
    flex: 1;
  }

  .actor-card {
    width: 100px;
    text-align: center;
    padding: 8px;
  }

  .actor-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
  }

  .actor-name {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
  }

  .nav-button {
    z-index: 10;
    width: 42px;
    height: 42px;

    &.left {
      margin-left: 24px;
      margin-right: 12px;
    }

    &.right {
      margin-left: 12px;
      margin-right: 24px;
    }
  }
}
